/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');

/* Index Page */
.main-heading {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 400;
    color: #474847 ;
    font-size: 50px;
}

.main-text {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: #777877;
    font-size: 25px;
}

.text-center {
    text-align: center;
}

.jumbotron {
    background-image: url("https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/2019-06/howcuttingdo.jpg");
    background-size: cover;
    height: 300px;
}

.jumbotron-heading {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 400;
    color: #fffff6 ;
    font-size: 50px;
}

.jumbotron-text {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: #fffff6;
    font-size: 25px;
}

.flex-container {
    display: flex;
    justify-content: center;
    background: 
}

.recipe-index-main {
    width: 700px;
    margin: 10px;
    min-height: 400px;
    background: grey
}

/* Footer */

.social-links {
    padding-bottom: 15px;
    text-align: center;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ff9400 ;
}

#footer-details {
    padding: 20px;
}





/* Nav Bar */
/* .hover-link-nav:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #fafafa;

} */