/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');

/* Index Page */
.main-heading {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 400;
    color: #474847 ;
    font-size: 50px;
}

.main-text {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: #777877;
    font-size: 25px;
}

.text-center {
    text-align: center;
}

.jumbotron {
    background-image: url("https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/2019-06/howcuttingdo.jpg");
    background-size: cover;
    height: 300px;
}

.jumbotron-heading {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 400;
    color: #fffff6 ;
    font-size: 50px;
}

.jumbotron-text {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: #fffff6;
    font-size: 25px;
}

.recipe-container {
    display: flex;
    justify-content: center;
    background: yellow
}

.recipe-index-main {
    width: 700px;
    margin: 10px;
    background: grey
}


/* Nav Bar */
/* .hover-link-nav:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #fafafa;

} */